@media (max-width: 1026px ) {
  .w-75 ,.w-25 , .w-50{
    width: auto!important;
  }
  section.main > div{
    padding: 0;

    padding-left: 1px;
  }
  .m-4{
    margin: auto!important;
}
   #admin-menu{
    flex:100%;
    max-width: 100%;

  }
  #admin_post h4{
    display: block;
    position: inherit;
}
  #about  .main > div, #contact  .main > div {
  
    width: 100vw;
    padding: 14px;
  }

  #sup-left{
 
    position: absolute;
    top: 15%;
    left: -16%;
    width: 90vw;
    transform: scale(1);
  }

  #sup-right{
  
    right: 9vw;
  }
  
.col-3{
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col , .col-4.card{
  -ms-flex: 0 0 90.666667%;
  flex: 0 0 90.666667%;
  max-width: 90.666667%;
}
div.row.row-cols-3{
  margin: 0;
}
}
/* 768 */
@media (max-width: 768px ) {
.d-flex{
  display: block!important;
}
  .m-4{
    margin-bottom: 1.5rem!important;
}

.col-3{
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col , .col-4.card{
  -ms-flex: 0 0 90.666667%;
  flex: 0 0 90.666667%;
  max-width: 90.666667%;
}
div.row.row-cols-3{
  margin: 0;
}


}

