
{% extends "users/profile.html" %}
{% block title %} admin post {% endblock %}
{% block content-profile %}
<div id='admin-menu'>
  {% load static %}
<ul class="nav nav-tabs" style="height:50px;  margin: 14px"> 

  <li class="nav-item dropdown">
    <a name='/admin_post/' class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Libros</a>
    <div class="dropdown-menu">
      <a name='admin_post/newpost'  class="nav-link " href="{% url 'post_add' %}">Agregar</a>
      <a name='admin_post/posts' class="nav-link" href="{% url 'admin_post' %}">Administrar</a>
</div>

  </li>
  <li class="nav-item dropdown">
    <a name='/admin_author/' class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autores</a>
    <div class="dropdown-menu">
      <a name='admin_author/add'  class="nav-link " href="{% url 'author_add' %}">Agregar</a>
      <a name='admin_author' class="nav-link" href="{% url 'admin_author' %}">Administrar</a>
    </div>

  </li>
  
  <li class="nav-item dropdown">
    <a name='/admin_genero/'class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Generos</a>
    <div class="dropdown-menu">
      <a name='admin_genero/add'  class="nav-link " href="{% url 'genero_add' %}">Agregar</a>
      <a name='admin_genero' class="nav-link" href="{% url 'admin_genero' %}">Administrar</a>
    </div>

  </li>
  
    </ul>
    <script>
    let pathName = window.location.pathname
    console.log(pathName.length)
    list = ['/admin_genero/', '/admin_author/', '/admin_post/']
    console.log(pathName.substring( pathName.length-4 , pathName.length ) )
    list.forEach(x =>{
      if(pathName.substring( pathName.length-4 , pathName.length ) == 'add/') {
        pathName = pathName.substring(0 , pathName.length-4 ) 
  
    }
    }
    
    )
    console.log(pathName)
    let aLi =   document.querySelector(`ul li a[name="${pathName}"]`);
  
    if(aLi){
      aLi.className =  'nav-link dropdown-toggle active';
    }

    </script>
{% block profile-cont %}{% endblock %}

</div>
{% endblock content-profile %}




